<div class="footer-container">
    <div class="divider"></div>
    
    <div class="up">
        <div class="foo-left">
            <img src="./resources/User.png" alt="">
            <div class="text">
                <h2>Pessoa ou Empresa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Proin maximus eget justo sed imperdiet. Donec non mi sollicitudin, 
                dictum lorem at, egestas nisi. Donec eu lorem eget augue sodales 
                eleifend quis nec risus. Sed 
                pulvinar nulla nec scelerisque tincidunt. 
                Phasellus vitaellus convallis aliquet in 
                sit amet ante. 
                Sed consequat lorem nec blandit blandit. Vestibulum ante ipsum primis in</p>
            </div>
        </div>
        <div class="foo-right">
            <h2>Acesse Tambem: </h2>
            <a href="">www.loremipsum.com</a>
            <a href="">www.loremipsum.com</a>
            <a href="">www.loremipsum.com</a>
        </div>
    </div>
    
    <div class="down">
        <p>Todos os direitos reservados</p> 
        <p>Linha Fast | RGB comunicação </p>
    </div>
</div>