<div class="footer-container">
    <div class="divider"></div>
    <div class="up">
        <div class="foo-left">
            <img src="" alt="">
            <h2>Pessoa ou Empresa</h2>
            <p>sfkjsfdjhsdfhjsdfjkhdjksfghjkdhgsdfgljkdhlçkaçsãsakljfk
                sfgjksdhgjdkfghjkfgjksldhgjfgjlshdfkgjdskfghdkjghkdjs</p>
        </div>
        <div class="foo-rght">
            <h2>Acesse Tambem</h2>
            <a href="">TWITER</a>
            <a href="">TWITER</a>
            <a href="">TWITER</a>
        </div>
    </div>
    <div class="down">
        <p>Todos os direitos reservados</p> 

        <span>Linha fast</span>
        <p>RGB comunicação</p>
    </div>
</div>