<div class="container-header">
    <div class="separator">
        <img src="./resources/logoRGB.png" alt="">
        <div class="content-menu">
            <div class="phone">(11) 98888 - 5231</div>

            <nav>
                <ul class="navigation">
                    <li><a href="">Page 1</a></li>
                    <li><a href="">Page 2</a></li>
                    <li><a href="">Page 3</a></li>
                    <li><a href="">Page 4</a></li>
                    <li><a href="">Page 5</a></li>
                    <li><a href="">Page 6</a></li>
                    <li><a href="">Page 7</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="divider"></div>
</div>
