<div class="container-header">
    <div class="separator">
        <img src="./resources/logoRGB.png" alt="">
        <div class="content-menu">
            <div class="phone">(11) 98888 - 5231</div>
            {% if pagination.needed %}
                <nav>
                    <ul class="navigation">
                        {% for i in 1..pagination.lastpage %}
                        <li><a class="{% if i == pagination.page %}active{% endif %} item" href="?page={{ i }}">Página {{ i }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
    <div class="divider"></div>
</div>
